<%- include("outlines/headers"); -%>
<body>


    <div class="container mt-4" id="searchDept">
      <div class="card">
      <div class="card-body">
       <h2>Search Department:</h2>
       <form action="searchDept" method="POST">
         <div class="form-group">
           <label for="department">Department Name:</label>
           <input type="text" class="form-control col-lg-9" id="department" aria-describedby="emailHelp" placeholder="Enter 'CS', 'ECE','MUS','PHYS',etc" name="department">
           <label for="semester">Semester:</label>
           <input type="text" class="form-control col-lg-9" id="semester" aria-describedby="emailHelp" placeholder="Enter 'SU23', 'FA22','SP21',etc" name="semester">
         </div>
         <button type="submit" class="btn btn-outline-info">Search by Department</button>
       </form>
      </div>
      </div>
    </div>
    
    <div class="container mt-4" id="searchInstr">
        <div class="card">
        <div class="card-body">
         <h2>Search Instructor:</h2>
         <form action="searchInstr" method="POST">
           <div class="form-group">
             <label for="instructor">Instructor Name:</label>
             <input type="text" class="form-control col-lg-9" id="instructor" aria-describedby="emailHelp" placeholder="Enter Instructor Name" name="instructor">
             <label for="semester">Semester:</label>
           <input type="text" class="form-control col-lg-9" id="semester" aria-describedby="emailHelp" placeholder="Enter 'SU23', 'FA22','SP21',etc" name="semester">
           </div>
           <button type="submit" class="btn btn-outline-info">Search by Instructor</button>
         </form>
        </div>
        </div>
    </div>

    <div class="container mt-4" id="searchRating">
        <div class="card">
        <div class="card-body">
         <h2>Search Department:</h2>
         <form action="searchRating" method="POST">
           <div class="form-group">
             <label for="Rating">Minimum Rating:</label>
             <input type="text" class="form-control col-lg-9" id="Rating" aria-describedby="emailHelp" placeholder="Enter minimum ratings" name="Rating">
             <label for="semester">Semester:</label>
             <input type="text" class="form-control col-lg-9" id="semester" aria-describedby="emailHelp" placeholder="Enter 'SU23', 'FA22','SP21',etc" name="semester">
           </div>
           <button type="submit" class="btn btn-outline-info">Search by Ratings</button>
         </form>
        </div>
        </div>
    </div>

    <div class="container mt-4" id="advSearch1">
        <div class="card">
        <div class="card-body">
         <h2>Advance Search with Top GPAs:</h2>
         <form action="advSearch1" method="POST">
           <div class="form-group">
             <label for="department">Department Name:</label>
             <input type="text" class="form-control col-lg-9" id="department" aria-describedby="emailHelp" placeholder="Enter Department Name" name="department">
             <label for="count">Numer of Classes:</label>
             <input type="text" class="form-control col-lg-9" id="count" aria-describedby="emailHelp" placeholder="Enter numbers" name="Rating">    
           </div>
           <button type="submit" class="btn btn-outline-info">Search</button>
         </form>
        </div>
        </div>
    </div>

    <div class="container mt-4" id="advSearch2">
      <div class="card">
      <div class="card-body">
       <h2>Top GPA GenEd Courses by each group:</h2>
       <form action="advSearch2" method="POST">
         <button type="submit" class="btn btn-outline-info">See updated Best GenEds</button>
       </form>

      </div>

      </div>
  </div>


  </body>