<%- include("outlines/headers"); -%>
<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.centered-title {
  font-size: 70px;
  font-weight: bold;
  color: #000;
}

.centered-subtitle {
  font-size: 30px;
  font-weight: bold;
  color: #000;
}
</style>

<div class="container">
  <p class="centered-title">Advance Course Explorer</p>
  <p class="centered-subtitle">Your best planner</p>
</div>

<%- include("outlines/footers"); -%>