<!DOCTYPE html>
<html>
<%- include("outlines/headers"); -%>

<head>
    <title>Map Visuals</title>
    <script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?key=AnCiUQKehSo7BmsdF1bKwT9veAkYnhOI0bwCbnTERCvK4QidM97x4ZnGaGoqSyUP"></script>
    <style>
        #mapContainer {
            width: 600px;
            height: 400px;
        }
    </style>
</head>
<body>
    <h1>Plan Your Courses with Maps</h1>
    <div id="mapContainer">
        <div class="container mt-4" id="findOnMap">
            <div class="card">
            <div class="card-body">
             <h2>Course Information:</h2>
             <form action="findOnMap" method="POST">
               <div class="form-group">
                 <label for="CRN1">Course 1 CRN:</label>
                 <input type="text" class="form-control col-lg-9" id="CRN1" aria-describedby="emailHelp" placeholder="Enter Engineering Sciences,Math,etc" name="CRN1">
               </div>
               <button type="submit" class="btn btn-outline-info">Find Route</button>
             </form>
            </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function loadMapScenario() {
            var map = new Microsoft.Maps.Map(document.getElementById('mapContainer'), {
                credentials: 'AnCiUQKehSo7BmsdF1bKwT9veAkYnhOI0bwCbnTERCvK4QidM97x4ZnGaGoqSyUP',
                center: new Microsoft.Maps.Location(40.1140, -88.2281), // Set the center to the ECE Building at UIUC (latitude, longitude)
                zoom: 12 // Set the initial zoom level (higher values mean closer view)
            });
        }
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario' async defer></script>
</body>
</html>
